// $(function(message) {
//         let message_content = (<%= @forums_update.forum_body %>)
//         //let id = `<%= @forums_update.id %>`
//         var html = `<div class="action">${message_content}</div>`
//         //$("#forum_<%= @forums_update.id %>").append(html)

//         $("#forum_<%= @forums_update.id.to_s %>").html(html)
//         //console.log("")
//     })

//メンターさんによる参考コード

<!-- <div id="forum_<%=forum.id%>" > </div>　非同期トライの跡地　-->　