<div class="profile uk-width-medium uk-align-center uk-text-center ">
	<table class="uk-table">
		<tr><%= attachment_image_tag @user, :profile_image, :fill, 150, 150, fallback: "no_image.jpg",class: "icon" %></tr>
		<p class="uk-text-large">
			<%= user.account_name %>
		</p>
		<p><i class="fas fa-map-marker-alt"></i> <%= user.nationality %></p>
		<p><%= user.profile %>
			<th>
				<div class=" uk-text-large profile-border">
					<%= user.followings.count %>
					<%= link_to follows_user_path(user.id) do%>
					Follows
					<% end %>
				</div>
			</th>
			<th>
				<div class=" uk-text-large profile-border">
					<%= user.followers.count %><%= link_to followers_user_path(user.id) do%>
					Followers
					<% end %>
				</div>
			</th>
		</table>
		<div class="follow">
			<% if current_user != user %>
			<% if user.followed_by?(current_user) %>
			<span class="uk-label-warning uk-border-rounded uk-text-large uk-padding-small uk-margin-small-bottom ">
				<%=link_to  "Unfollow this user", user_relationships_path(user.id), method: :delete %>
			</span>
			<% else %>
			<span class="uk-label-success uk-border-rounded uk-text-large uk-padding-small uk-margin-small-bottom">
				<%= link_to "Follow this user", user_relationships_path(user.id), method: :book %>
			</span>
			<% end %>
			<% end %>
		</div>
		<% if current_user == user %>
		<div class="edit-button uk-margin-small-top profile-border">
			<%= link_to edit_user_path(user.id) do %>
			<span class="uk-icon-link" uk-icon="settings"; ratio: 2></span>
			<span>Edit</span>
			<% end %>
		</div>
		<% end %>
	</div>