<%= flash[:notice] %>
<div class="uk-container ">
	<div class="uk-grid uk-margin-large-top">
		<div class="uk-width-1-1 uk-width-1-3@m" >
			<div class="uk-container style="z-index: 980;" uk-sticky="media: @m; offset: 100; bottom: #offset">
				<%= render 'users/profile', user: @user %>
			</div>
		</div>
		<div class="uk-width-1-1 uk-width-2-3@m" >
			<% @posts.each do |post| %>
			<div class="uk-card uk-card-default uk-card-hover uk-margin-large uk-padding">
				<div class="uk-card-header ">
					<div class="uk-width-auto uk-text-large">
						<%= attachment_image_tag post.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg",class: "icon" %>
						<span class="uk-padding-small"><%= link_to post.title,post, class: "post_#{post.id}" %></span>
					</div>
					<div class="uk-card-badge uk-label uk-text-large">
						<%= post.post_genre %>
					</div>
					<%= link_to (post) do %>
					<div class="uk-card-body uk-margin-small uk-text-lead">
						<br>
						<%= post.body %>
					</div>
					<% end %>
						<div id="like_<%= post.id %>">
							<p class="uk-margin-remove-bottom uk-text-right">
							  <%= render 'posts/favorite', post: post %>
							</p>
					  </div>
						<p class="uk-margin-remove-bottom uk-text-right uk-margin-small-top">posted at <%= post.created_at.strftime('%Y/%m/%d') %></p>
				</div>
				<% post.post_comments.count %>
				<p class="uk-text-bold uk-padding-small">
					<%= post.post_comments.count %> comments
				</p>
			</div>
			<% end %>
			<div class="uk-text-center uk-text-lead">
			<p><%= paginate @posts, class: "paginate" %></p>
		</div>
		</div>
	</div>
</div>
