
<h3 class="uk-text-bold">
	<% post.post_comments.count %> 
	<%= post.post_comments.count %> 
	Comments
</h3>
<% post.post_comments.each do |c| %>
<div class="uk-card-header">
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-auto">
<%= attachment_image_tag(@post.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg",class: "icon") %>
</div>
<p class="uk-text-bold uk-text-large"><%= c.user.account_name %></p> </br>
<p><%= c.created_at.strftime('%Y/%m/%d') %></p>
<%= c.comments %>
</div>

<% if c.user == current_user %>
<%= link_to "delete",  post_post_comment_path(c.post_id, c.id), method: :delete, remote: true %>
<% end %>
<% end %>
</div>
<%= form_with model:@post_comment, url:post_post_comments_path(post.id) do |f| %>
<%= f.text_area :comments, rows:'5', class: "form-control" %>
<%= f.submit "Submit", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
<% end %>