<% if @post_new.errors.any? %>
	<h3><%= @post_new.errors.count %>error occurrence</h3><!--エラーメッセ-->
	<ul>
		<% @post_new.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
	<% end %>
	<div class="uk-container uk-background-muted">
		<div class="uk-width-large uk-align-center ">
			<%= form_for(@post) do |f| %>
				<fieldset class="uk-fieldset uk-margin-medium ">
					<legend class="uk-legend">Edit your post </legend>
						<div class="field">
							<%= f.label :title, class: "uk-label" %>
							<%= f.text_field :title, class: "uk-input" %>
						</div>
						<div class="field">
							<%= f.label :Post, class: "uk-label" %>
							<%= f.text_area :body, class: "uk-textarea" %>
						</div>
						<div class="field">
							<%= f.label :topic, class: "uk-label" %>
							<%= f.select :post_genre, [["Travel"],["Tips"],["Spot"]] , class: "uk-select" %>
						</div>
						<div class="field">
							<%= f.label :image %>
							<%= f.attachment_field :post_image, class: "post_image" %>
						</div>
							<%= f.submit %>
				</fieldset>
			<% end %>
				<%= link_to "Back to index", posts_path, class: "back" %>
		</div>
  </div>