<div class="uk-container uk-margin-medium-top">
	<div class="uk-grid">
		<div class="uk-width-1-1 uk-width-1-3@m uk-margin-medium-top">
			<div class="uk-container style="z-index: 980;" uk-sticky="media: @m; offset: 100; bottom: #offset">
				<%= render 'users/profile', user: @user %>
			</div>
		</div>
		<div class="uk-width-1-1 uk-width-2-3@m uk-align-center ">
			<h4 class="uk-text-center"> Top 5 Post </h4>
			<table class="uk-table uk-table-hover uk-table-middle uk-table-divider table-background" >
				<thead class="uk-text-bold">
					<tr>
						<th>Popular</th>
						<th>Name</th>
						<th>Title</th>
						<th>Genre</th>
					</tr>
				</thead>
				<tbody>
					<% @popular_posts.each do |p| %>
					<tr>
						<td><%= p.favorites.count %> Favorites </td>
						<td><%= link_to(p.user) do %>
							<%= attachment_image_tag(p.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg",class: "icon") %>
							<%= p.user.account_name %></td>
							<% end %>
							<td>Title: <%= link_to p.title, p, class: "p_#{p.id}" %></td>
							<td class="uk-badge uk-margin-small-top uk-text-large"><%= p.post_genre %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<h4 class="uk-text-center "> Latest Post </h4>
				<table class="uk-table uk-table-hover uk-table-middle uk-table-divider table-background" >
					<thead>
						<tr>
							<th>Latest Post</th>
							<th>Name</th>
							<th>Title</th>
							<th>Genre</th>
						</tr>
					</thead>
					<tbody>
						<% @new_posts.each do |n| %>
						<tr>
							<td><%= n.created_at.strftime('%Y/%m/%d %H:%M') %></td>
							<td><%= link_to(n.user) do %>
								<%= attachment_image_tag(n.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg",class: "icon") %>
								<%= n.user.account_name %>
								<% end %></td>
								<td> <%= link_to n.title, n, class: "post_#{n.id}" %></td>
								<td class="uk-badge uk-margin-small-top uk-text-large"> <%= n.post_genre %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>

