<div class="uk-container">
	<div class="uk-grid">
		<div class="uk-width-1-3">
			<%= render 'users/profile', user: @user %>
		</div>
		<div class="uk-width-2-3">
			<h4 class="uk-text-center">Top 5 Post </h4>
			<% @popular_posts.each do |post| %>
			　<div class="uk-card uk-card-default uk-display-inline-block uk-margin-small ">
				<div class="uk-card-header ">
			<span class="uk-badge"><%= post.post_genre %></span>
				<%= link_to post.title, post, class: "post_#{post.id}" %>
			</div>
						<div class="uk-card-footer">
				<%= link_to(post.user) do %>
				<%= attachment_image_tag(post.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg",class: "icon") %>
				by <%= post.user.account_name %>
		</div>
	</div>
					<% end %>
				<% end %>
				</div>
			</div>
		</div>
	</div>