<!DOCTYPE html>
<html>
<head>
  <title>TraJapa !!</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.0/dist/css/uikit.min.css" />
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.0/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.0/dist/js/uikit-icons.min.js"></script>
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/country-select-js/2.0.1/js/countrySelect.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgcXDu9pZmm_jOHHvAgpwnyVhIw9uiqfw&libraries=places"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkxS_JuEboKWjO2QnLTSI9CGy1X-KvJf8&callback=initMap&language=en" async defer></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body>
  <!-- レスポンシブ対応navbar　960px以下 -->
  <div class="uk-hidden@m">
    <nav class=" navber-color" uk-navbar>
      <div class="uk-navbar-center">
        <ul class="uk-navbar-nav uk-text-large">
         <% if user_signed_in? %>
         <li class="uk-active "><%= link_to 'HOME', root_path%></li>
         <li class="uk-active "><%= link_to 'FORUMS', forums_path%></li>
         <li class="uk-active "><%= link_to 'POSTS', posts_path %></li>
         <li>
          <a href="#">Account</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li class=""><%= current_user.account_name %></li>
              <li><%= link_to "View My Profile", user_path(current_user.id) %></li>
              <li><%= link_to "Post Your Trip", new_post_path %></li>
              <li><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        </li>
        <% else %>
        <li class="uk-active"><%= link_to 'HOME', root_path %></li>
        <li class="uk-active"><%= link_to 'SIGN UP', new_user_registration_path %></li>
        <li class="uk-active"><%= link_to 'LOG IN', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
<!-- ここまで960px以下のnavbar 以下は961px以上navbar -->
<div class="uk-visible@m">
  <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar navbar-fonts">
    <nav class=" navber-color uk-navbar-container uk-navbar-transparent header-font " uk-navbar>
      <div class="uk-navbar-left uk-margin-medium-left logo-background">
        <ul class="uk-navbar-nav ">
          <%= link_to posts_path do%>
          <%=image_tag 'logo.png', :size =>'100x60'%>
          <% end %>
        </ul>
      </div>
      <div class="uk-navbar-right ">
        <ul class="uk-navbar-nav uk-text-bold uk-text-emphasis uk-margin-medium-right">
          <% if user_signed_in? %>
          <li class=" uk-margin-medium-right navbar-fonts"><%= link_to 'HOME', root_path%></li>
          <li class=" uk-margin-medium-right navbar-fonts"><%= link_to 'FORUMS', forums_path%></li>
          <li class=" uk-margin-medium-right navbar-fonts"><%= link_to 'POSTS RANKING', posts_path %></li>
          <li class=" uk-margin-medium-right navbar-fonts"><%= link_to 'NEW POSTS', posts_path %></li>
          <li>
            <a href="#">
              <%= attachment_image_tag(current_user, :profile_image, :fill, 75, 75, fallback: "human.png" ,class: "icon") %>
            </a>
            <div class="uk-navbar-dropdown">
             <ul class="uk-nav uk-navbar-dropdown-nav uk-text-large">
               <li class="uk-nav-header uk-text-italic uk-text-lead">Account Name</li>
               <li><%= current_user.account_name %></li>
               <li class="uk-active"></li>
               <li><%= link_to "View My Profile", user_path(current_user.id) %></li>
               <li><%= link_to "Post Your Trip", new_post_path %></li>
               <li><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %></li>
             </ul>
           </div>
         </li>
       </ul>
       <% else %>
       <li class=" navbar-fonts"><%= link_to 'HOME', root_path %></li>
       <li class=" navbar-fonts"><%= link_to 'SIGN UP', new_user_registration_path %></li>
       <li class=" navbar-fonts"><%= link_to 'LOG IN', new_user_session_path %></li>
       <% end %>
     </ul>
   </div>
 </nav>
</div>
</div>
<%= yield %>
<footer>
  <div class="footer">
    <p class="footer-text">@Trajapa</p>
  </footer>
</body>
</html>
